* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    position: relative;
}

.search-bar {
    border-radius: 10%;
    margin-bottom: 1em;
}

/* main styles */

#main {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.card {
    border: 1px solid lightgray;
}

.card:hover {
  border: 1px solid rgb(223, 117, 67);
}

.text-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "image name"
    "image email"
    "image address";
}

.avatar {
    grid-area: image;
    align-self: center;
    border-radius: 50%;
    margin-left: 2em;
}

.name {
    grid-area: name;
    overflow: auto;
}

.email {
    grid-area: email;
    overflow: auto;
}

.address {
    grid-area: address;
    overflow: auto;
}

.hidden {
    display: none;
}

/* overlay modal styles */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

/* arrow styles */

a {
    display: inline-block;
    border-radius: 50%;
  }
  
  a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
    border: 0.5em solid #e74c3c;
  }
  
  a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
    border-top: 0.5em solid #e74c3c;
    border-right: 0.5em solid #e74c3c;
  }
  
  .left {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-right: 1.5em;
  }
  
  .left:after {
    content: '';
      display: inline-block;
    margin-left: 0.6em;
    margin-top: .52em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .right {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-left: 1.5em;
  }
  
  .right:after {
    content: '';
    display: inline-block;
    margin-top: .52em;
    margin-left: -0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
    